{% extends "main.html" %}

{% block scripts %}
<script>
    if (performance.navigation.type === 1) {
        window.location.href = "/";
    }
    const stations = document.getElementById("data-container").getAttribute("data-station-data");
    const stations_data = JSON.parse(stations);

    const susza_json = document.getElementById("data-container").getAttribute("data-susza-data");
    const susza_data = JSON.parse(susza_json).data;
    

    getStationsLayer(stations_data).addTo(map);
    getSuszaLayers(susza_data);

</script>
{% endblock scripts%}