{% extends "main.html" %}

{% block scripts %}
<script>
    if (performance.navigation.type === 1) {
        window.location.href = "/";
    }
    let stations = document.getElementById("data-container").getAttribute("data-station-data");
    let stations_json = JSON.parse(stations);
    let susza_data = document.getElementById("data-container").getAttribute("data-susza-data");
    let susza_json = JSON.parse(susza_data);
    susza_data = susza_json.data;

    getStationsLayer(stations_json).addTo(map);
    getSuszaLayers(susza_data);

</script>
{% endblock scripts%}